/* style.css */

/* General Styles */
html, body {
    background-color: #f9fafb;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    text-align: center;
    flex: 0 0 auto;
}

#summaryTable {
    flex: 0 0 auto;
    margin: 0 auto 10px;
    width: 90%;
}

#calendar {
    flex: 1 1 auto;
    margin: 0 auto 10px;
    width: 90%;
    overflow: auto;
    min-height: 600px;
}

/* Styles for Day Cells */
.fc-daygrid-day-frame {
    cursor: pointer;
}

/* Header Cells */
.fc-col-header-cell {
    background-color: #2c3e50 !important;
    position: relative;
    z-index: 1;
}

.fc-col-header-cell-cushion {
    color: #fff;
}

/* Current Day Styling */
.fc .fc-daygrid-day.fc-day-today {
    border: 5px solid red !important;
    box-shadow: 0 0 5px red !important;
    border-radius: 4px;
}

/* Weekend Days */
.fc-day-sat,
.fc-day-sun {
    background-color: #ffe8a4;
}

/* Holiday Days */
.holiday {
    background-color: #ffe8a4 !important;
    opacity: 1 !important;
}

/* On-call Events */
.fc-event {
    border-radius: 4px !important;
    padding: 4px !important;
    font-size: 0.9em !important;
    color: #fff !important;
    border: none !important;
}

.fc .fc-daygrid-event {
    margin: 1px 0;
    font-size: 0.75em;
    padding: 1px 2px !important;
}

/* Table Styling */
.table {
    margin-top: 20px;
}

/* Navigation Buttons */
.fc-button-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Calendar Title */
.fc-toolbar-title {
    font-size: 1.5em;
}

/* FullCalendar Adjustments */
.fc {
    overflow: visible !important;
    height: auto !important;
}

.fc-view,
.fc-scroller {
    overflow: visible !important;
}

.fc table {
    border-collapse: separate;
    border-spacing: 0;
}